/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#article-info p{font-size:80%}
#widgets h1{font-size:160%}
#widgets a{font-size:80%}

table,th,tr,td {border-style:solid;}

h1,h2,h3,h4,h5,h6 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}
